.button {
  width: 100%;
  margin-top: 35px;
  padding: 12px 0;
  border-radius: 3px;
  background-color: #46b688;
  color: white;
  appearance: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}