.root{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}

.label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #9b9b9b;
  transition: all .15s ease-in;

  &Top {
    top: -10px;
    font-size: 12px;
  }
}

.input{
  font-size: 16px;
  color: #454545;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(#454545, 0.3);
  padding: 6px 0;

  &Error {
    border-color: rgba(#ed715c, 0.3);
  }
  &Correct {
    border-color: rgba(#46b688, 0.3);
  }
}

.inputFocus {
  border-color: rgba(#454545, 0.7);
}



.error{
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  color: rgba(#ed715c, 0.7);
}
