
.root {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 24px;
  min-height: 32px;
  &:not(:last-child){
    margin-bottom: 10px;
  }

  outline: none;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(#454545, 0.3);
  font-size: 16px;
  cursor: pointer;
  color: #9b9b9b;

  &::after{
    content: "\25bc";
    position: absolute;
    right: 20px;
    font-size: 6px;
    transition: all 0.3s ease-in;
    color: black;
  }
}

.selectOpen {
  border-color: rgba(#454545, 0.7);
  &::after {
    transform: rotate(180deg);
  }
}

.selectError {
  border-color: rgba(#ed715c, 0.3);
}

.selectCorrect {
  border-color: rgba(#46b688, 0.3);
}

.list {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  background: white;
}

.option {
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 14px;
  color: #9398a2;
  box-sizing: border-box;

  &:hover {
    background: #fafbfc;
    color: black;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  color: rgba(#ed715c, 0.7);
}