.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 427px;
  border-radius: 4px;
  border: solid 1px #ebedf8;
  padding: 24px 40px 30px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.title{
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: #454545;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}