.root {
  position: absolute;
  right: 40px;
  top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 12px 91px 12px 46px;
  font-size: 14px;
  color: #419779;
  border: 1px solid rgba(65, 151, 121, 0.3);
  background: #e7f2ee;
}

.statusIcon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.title {
  color: #419779;
  font-weight: bold;
}