
.root {
  position: relative;
  display: flex;
  width: 100%;
  flex: 1 3;
  border-bottom: 2px solid rgba(#454545, 0.3);

  &:not(:last-child){
    margin-bottom: 10px;
  }

  div, input {
    margin-bottom: 0 !important;
    border: none;
    min-height: auto;
  }

  & > div:first-child {
    width: 30%;
  }
}

.rootFocus {
  border-color: rgba(#454545, 0.7);
}

.rootError {
  border-color: rgba(#ed715c, 0.3);
}

.rootCorrect {
  border-color: rgba(#46b688, 0.3);
}

.error {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  color: rgba(#ed715c, 0.7);
}